<% provide(:title, "Home") %>

<% if signed_in? %>
	<div class="row">
		<aside class="col-xs-3">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<br>
			<section>
				<% provide(:placeholder_text, "Ask a quick question...") %>
				<%= render 'shared/input_form', locals: { input_item: @quick_question } %>
			</section>
			<br />
			<section>
				<% provide(:placeholder_text, "Ask a interest question...") %>
				<%= render 'shared/input_form', locals: { input_item: @interest_question } %>
			</section>
			<br />
			<section>
				<% provide(:placeholder_text, "Ask a thoughtful question...") %>
				<%= render 'shared/input_form', locals: { input_item: @thoughtful_question} %>
			</section>
		</aside>
		<div class="col-xs-9">
			<h1 class="feed_header">Quick Questions Feed</h1>
			<%= render 'shared/feed' %>
		</div>
	</div>
	
<% else %>
	<div class="jumbotron">
		<h1>Welcome to Clanswers!</h1>
		<p>
			This is a site dedicated to understanding. Recieve answers for your questions and give answers to your friends. We hope you find the answers you are looking for!
		</p>
		<%= link_to "Get started!", signup_path, class: "btn btn-primary btn-lg btn-block" %>
	</div>
<% end %> 
