<% provide(:title, "Edit profile") %>

<h1><b>Update your profile</b></h1>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<%= form_for @user, html: { class: "form-horizontal", role: "form"} do |f| %>
			
				<%= render 'shared/error_messages', object: f.object %>

				<div class="form-group">
					<%= f.label :username, class: "col-sm-2 control-label" %>
					<div class="col-sm-8">
						<%= f.text_field :username,  class: "form-control", placeholder: "Username" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :email, class: "col-sm-2 control-label" %>
					<div class="col-sm-8">
						<%= f.text_field :email,  class: "form-control", placeholder: "Email" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :first_name, class: "col-sm-2 control-label" %>
					<div class="col-sm-8">
						<%= f.text_field :first_name,  class: "form-control", placeholder: "First Name" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :last_name, class: "col-sm-2 control-label" %>
					<div class="col-sm-8">
						<%= f.text_field :last_name,  class: "form-control", placeholder: "Last Name" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :password, class: "col-sm-2 control-label" %>
					<div class="col-sm-8">
						<%= f.password_field :password,  class: "form-control", placeholder: "Password" %>
					</div>
				</div>

				<div class="form-group">
					<%= f.label :password_confirmation, "Confirmation", class: "col-sm-2 control-label" %>
					<div class="col-sm-8">
						<%= f.password_field :password_confirmation,  class: "form-control", placeholder: "Password Confirmation" %>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-3">
					<%= f.submit "Update my account", class: "btn btn-large btn-primary" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>

	<%= gravatar_for(@user) %>
	<a href="http://gravatar.com/emails">Change</a>
</div>