<% provide(:title, @user.username) %>

<div class="container">
<div class="row">
	<aside class="col-xs-3">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<b><%= @user.username %></b>
			</h1>
			<h2>
				<%= @user.email %>
			</h2>
		</section>
	</aside>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-11">
		<% if @user.quick_questions.any? %>
			<h3>Quick Questions (<%= @user.quick_questions.count %>)</h3>
			<ol class="quick_questions">
				<%= render @quick_questions.all(limit: 5) %>
			</ol>
			<%= link_to "Quick Questions", qq_path %>
		<% end %>

		<% if @user.quick_answers.any? %>
			<h3>Quick Answers (<%= @user.quick_answers.count %>)</h3>
			<ol class="quick_questions">
				<%= render @quick_answers.all(limit: 5) %>
			</ol>
			<%= link_to "Quick Answers", qa_path %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-11">
		<% if @user.interest_questions.any? %>
			<h3>Interest Questions (<%= @user.interest_questions.count %>)</h3>
			<ol class="interest_questions">
				<%= render @interest_questions.all(limit: 5) %>
			</ol>
			<%= link_to "Interest Question", iq_path %>
		<% end %>

		<% if @user.interest_answers.any? %>
			<h3>Interest Answers (<%= @user.interest_answers.count %>)</h3>
			<ol class="interest_questions">
				<%= render @interest_answers.all(limit: 5) %>
			</ol>
			<%= link_to "Interest Answers", ia_path %>
		<% end %>		
	</div>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-11">
		<% if @user.thoughtful_questions.any? %>
			<h3>Thoughtful Questions (<%= @user.thoughtful_questions.count %>)</h3>
			<ol class="thoughtful_questions">
				<%= render @thoughtful_questions.all(limit: 5 ) %>
			</ol>
			<%= link_to "Thoughtful Questions", tq_path %>
		<% end %>

		<% if @user.thoughtful_answers.any? %>
			<h3>Thoughtful Answers (<%= @user.thoughtful_answers.count %>)</h3>
			<ol class="thoughtful_questions">
				<%= render @thoughtful_answers.all(limit: 5) %>
			</ol>
			<%= link_to "Thoughtful Answers", ta_path %>
		<% end %>		
	</div>
</div>
</div>