<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1 class="info_username">
	<%= current_user.username %>
</h1>
<span>
	<%= pluralize(current_user.quick_questions.count, "Quick Question") %>
	<br />
	<%= pluralize(current_user.interest_questions.count, "Interest Question") %>
	<br />
	<%= pluralize(current_user.thoughtful_questions.count, "Thoughtful Question") %>
</span>
<br>
<span>
	<%= link_to "View my profile", current_user %>
</span>