<span class="row">
	<%= link_to gravatar_for(current_user, size: 50), current_user %>
	<h1 class="info_username">
		<%= current_user.username %>
	</h1>
</span>
<span class="profile_bar_margin row">
	<%= pluralize(current_user.questions.count, "Question") %>
	<br />
	<%= pluralize(current_user.answers.count, "Answer") %>
</span>
<span class="profile_bar_margin row">
	<%= link_to "View my profile", current_user, class: "profile_link" %>
</span>